#container,
#btn {
  background-color: yellowgreen;
  border: green solid 2px;
}

body {
  background-color: rgb(182, 116, 243);
}

#listArea {
  border: 3px solid rgb(211, 211, 105);
}

#blueBox {
  background-color: lightskyblue;
}

#greenBox {
  background-color: rgb(22, 180, 35);
}

#greenBox,
#blueBox {
  border: 2px solid orangered;
  width: 30em;
  height: 40em;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

#image {
  display: flex;
  justify-content: center;
  border: 2px solid blue;
}

#add-item-btn {
  margin: 2em;
}

h1 {
  text-align: center;
  padding: 1em;
}

#checkbox {
  float: right;
  clear: both;
  margin-right: 20px;
}

#greenBox div,
#blueBox div {
  height: 40px;
}

#style-me {
  margin-right: 30px;
  margin-left: 30px;
  display: inline-block;
  width: 200px;
}

#counterDisplay {
  /* border: 2px solid blueviolet; */
}
