#container,
#btn {
  background-color: yellowgreen;
  border: green solid 2px;
}

body {
  background-color: rgb(182, 116, 243);
}

#listArea {
  border: 3px solid rgb(211, 211, 105);
}

#blueBox {
  border: 2px solid orangered;
  background-color: lightskyblue;
  width: 30em;
  height: 40em;
  padding-left: 30px;
  padding-top: 30px;
}

#greenBox {
  border: 2px solid orangered;
  background-color: rgb(22, 180, 35);
  width: 30em;
  height: 40em;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

#image {
  display: flex;
  justify-content: center;
  border: 2px solid blue;
}

#add-item-btn {
  margin: 2em;
}

h1 {
  text-align: center;
  padding: 1em;
}
/* 
* {
  border: 1px solid red !important;
  display: grid;
  grid-template-columns: ;
} */

#checkbox {
  float: right;
  clear: both;
  margin-right: 20px;
}

#greenBox div {
  border: 2px solid blue;
  height: 40px;
}
